<?php
/**
 * Generated with Laravel-ORM on {{ date }}.
 *
 * @var Illuminate\Database\Migrations\Migration
 * @model {{ model }}
 */

use Illuminate\Support\Facades\Schema;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Database\Migrations\Migration;

class {{ migrationClass }} extends Migration
{
    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        Schema::create({{ table | encode }}, function (Blueprint $table) { {{# fields }}
        {{> migration/fields }}
        {{/ fields }}
        });
    }

    /**
     * Reverse the migrations.
     *
     * @return void
     */
    public function down()
    {
        Schema::dropIfExists({{ table | encode }});
    }
}
